
body {
    background-image: url("/wordpress/wp-content/plugins/2024-wp-edit-clothing/img/millie-bg.jpg");
}


.edit-clothing-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.edit-clothing-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.edit-clothing-menu {
    width: 30%;
    height: 800px;
    padding: 50px 0;
}

.menu-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#file-upload {
    display: none;
}

.edit-clothing-content {
    width: 60%;
    height: 800px;
    background-image: url("/wordpress/wp-content/plugins/2024-wp-edit-clothing/img/polo2.png");
    background-position: center; /* ?? 中央底圖 */
    background-size: contain;     /* 包含於容器內 */
    background-repeat: no-repeat; /* 不重複 */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#app-warpper {
    position: absolute;
    cursor: move;
}

#app-warpper img {
  width: 100%;
  height: 100%;
}


